<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h4>Edit user</h4>
<form th:method="PUT" th:action="@{/users/{id}(id=${bankUser.getId()})}" th:object="${bankUser}">
  <div th:if="${#fields.hasAnyErrors()}" th:class="error">
    Invalid user details provided. Please fix errors and resubmit:
    <br/>
  </div>
  <label for="firstName">Enter first name:</label><br/>
  <input type="text" th:field="*{firstName}" id="firstName">
  <br/>
  <div th:if="${#fields.hasErrors('firstName')}" th:class="error" th:errors="*{firstName}">
    Invalid first name.
  </div>
  <label for="lastName">Enter last name:</label><br/>
  <input type="text" th:field="*{lastName}" id="lastName">
  <br/>
  <div th:if="${#fields.hasErrors('lastName')}" th:class="error" th:errors="*{lastName}">
    Invalid last name.
  </div>
  <label for="middleName">Enter middle name (not required):</label><br/>
  <input type="text" th:field="*{middleName}" id="middleName">
  <br/>
  <div th:if="${#fields.hasErrors('middleName')}" th:class="error" th:errors="*{middleName}">
    Invalid middle name.
  </div>
  <label for="birthDate">Enter date of birth:</label><br/>
  <input type="date" th:field="*{birthDate}" id="birthDate">
  <br/>
  <div th:if="${#fields.hasErrors('birthDate')}" th:class="error" th:errors="*{birthDate}">
    Invalid birth date.
  </div>
  <label for="phoneNumber">Enter phone number:</label><br/>
  <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
  <br/>
  <div th:if="${#fields.hasErrors('phoneNumber')}" th:class="error" th:errors="*{phoneNumber}">
    Invalid phone number.
  </div>
  <label for="email">Enter email:</label><br/>
  <input type="email" th:field="*{email}" id="email">
  <br/>
  <div th:if="${#fields.hasErrors('email')}" th:class="error" th:errors="*{email}">
    Invalid email.
  </div>
  <p>Select role:</p>
  <div>
    <label for="role_client"><b>CLIENT</b></label>
    <input type="radio" th:field="*{role}" id="role_client" name="role" value="CLIENT">
    <label for="role_operator"><b>OPERATOR</b></label>
    <input type="radio" th:field="*{role}" id="role_operator" name="role" value="OPERATOR">
    <label for="role_admin"><b>ADMIN</b></label>
    <input type="radio" th:field="*{role}" id="role_admin" name="role" value="ADMIN">
    <label for="role_atm"><b>ATM</b></label>
    <input type="radio" th:field="*{role}" id="role_atm" name="role" value="ATM">
  </div>
  <br/>
  <p><input type="submit" value="Update existing user"> <input type="reset" value="Reset"></p>
</form>
</body>
</html>