<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
    <body>
        <h4>User:</h4>
        <div>
            <table>
                <tr>
                    <th scope="col" style="text-align:right">ID</th>
                    <td th:text="${bankUser.getId()}">ID</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">First name</th>
                    <td th:text="${bankUser.getFirstName()}">First name</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Middle name</th>
                    <td th:text="${bankUser.getMiddleName()}">Middle name</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Last name</th>
                    <td th:text="${bankUser.getLastName()}">Last name</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Birth date</th>
                    <td th:text="${bankUser.getBirthDate()}">Birth date</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Phone number</th>
                    <td th:text="${bankUser.getPhoneNumber()}">Phone number</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">EMail</th>
                    <td th:text="${bankUser.getEmail()}">Email</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Type</th>
                    <td th:text="${bankUser.getType()}">Type</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Role</th>
                    <td th:text="${bankUser.getRole()}">Role</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Last Login</th>
                    <td th:text="${bankUser.getLastLogin()}">Last Login</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Reg. Date</th>
                    <td th:text="${bankUser.getRegistrationDate()}">Reg. Date</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Last Mod.</th>
                    <td th:text="${bankUser.getLastModified()}">Last Mod.</td>
                </tr>
                <tr>
                    <th scope="col" style="text-align:right">Is Deleted</th>
                    <td th:text="${bankUser.isDeleted()}">Is Deleted</td>
                </tr>
                <tr>
                    <td scope="col" style="text-align:center">
                        <form th:method="GET" th:action="@{/users/{id}/edit(id=${bankUser.getId()})}">
                            <input type="submit" value="EDIT">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td scope="col" style="text-align:center">
                        <form th:method="DELETE" th:action="@{/users/{id}(id=${bankUser.getId()})}">
                            <input type="submit" value="DELETE">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td scope="col" style="text-align:center">
                        <form th:method="GET" th:action="@{/users}">
                            <input type="submit" value="BACK">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td scope="col" style="text-align:center">
                        <form th:method="GET" th:action="@{/accounts/accounts-for{id}(id=${bankUser.getId()})}">
                            <input type="submit" value="USER ACCOUNTS">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>