<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User View</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <h1>User View Table</h1>
    <div>
        <tr th:each="bankUser : ${users}">
            <td th:text="${bankUser}">user</td><br>
            <span style="padding-left:4em">
                <td th:text="${bankUser.accountList}">accounts</td>
            </span>
            <br>
        </tr>
    </div>
</body>
</html>