<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div sec:authorize="isAnonymous()">
  <h4>Please, log in.</h4>
  <br/>
  <form method="GET" th:action="@{/login}">
    <p><input type="submit" value="Login"></p>
  </form>
</div>
<div sec:authorize="isAuthenticated()">
  <h4>Welcome, <span sec:authentication="principal.firstName">Undefined</span></h4>
  <br/>
  You are a <span sec:authentication="principal.role">Undefined</span>
  <br/>
  <a th:href="@{/users}">View all users</a><br/>
  <a th:href="@{/accounts/}">View all accounts</a><br/>
  <a th:href="@{/user}">View current user page</a><br/>
</div>
<br/>
<div sec:authorize="isAuthenticated()">
  <form method="POST" th:action="@{/logout}">
    <p><input type="submit" value="Logout"></p>
  </form>
</div>
</body>
</html>